.header {
    display: flex;
    width: 100%;
    background-color: rgb(38, 133, 227);
    position: sticky;
    top: 0;
    z-index: 2;
}

.nav-list {
    display: flex;
}

.header .nav-link,
.header button {
    display: flex;
    padding: .75rem 1rem;
    color: white;
    text-decoration: none;
    align-items: center;
    transition: .25s ease-in-out;
    background-color: inherit;
    outline: none;
    border: none;
    font-size: .875rem;

    &:hover {
        background-color: rgb(22, 78, 134);
    }
}

.nav-link.active {
    background-color: rgb(42, 115, 188);

}

.user-info {
    display: flex;
    gap: .5rem;
    margin-left: auto;
    color: white;
    padding-inline: 1rem;

    .user-avatar {
        padding: .25rem;

        img {
            width: 36px;
            height: 36px;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    .dropdown-menu {
        position: relative;

        &:focus,
        &:hover {
            .dropdown-links {
                max-height: 300px;
            }
        }

        .dropdown-links {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: calc(100% - 5px);
            border-radius: 4px;
            overflow: hidden;
            right: 10px;
            background-color: white;
            max-height: 0;
            -webkit-transition: max-height .4s;
            -moz-transition: max-height .4s;
            -ms-transition: max-height .4s;
            -o-transition: max-height .4s;
            transition: max-height .4s;
            ;

            .nav-link {
                color: #333;
                width: 100%;
                display: flex;
                gap: .5rem;

                &:hover {
                    color: white;
                    background-color: rgb(42, 115, 188)
                }
            }
        }
    }


    * {
        display: flex;
        align-items: center;
    }

    .icon-container {
        font-size: 1.25rem;
        display: flex;
        align-items: center;

        /* -SHOW */
        .cart-icon {
            cursor: pointer;
            position: relative;
            transition: color .25s ease-in-out;

            &:hover {
                color: #333;
            }

            &::after {
                content: attr(data-count);
                display: block;
                position: absolute;
                font-size: .5rem;
                width: 16px;
                height: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                top: -10px;
                right: -6px;
                background-color: red;
                color: white;
                border-radius: 50%;
            }
        }
    }
}