.header {
  display: flex;
  width: 100%;
  background-color: dodgerblue;
}

.header .nav-link {
  display: flex;
  padding: .5rem 1rem;
  color: white;
  text-decoration: none;
  align-items: center;
  transition: .25s ease-in-out;
  &:hover {
    background-color: rgb(11, 95, 179);
  }
}

.footer {
  padding: 3rem 1rem;
  color: white;
  background-color: #222;
}